<!--Dialysis Session Details Tab Index-->
<li class="">
    <a data-toggle="tab" href="#tab-1">
        <div class="titleNav">
            <i style="float:left" class="label label-danger fa fa-window-close">
                <lable class="control-label" style="font-size: 13px;font-weight:bolder;"></lable>
            </i>
            Dialysis Session Details
            <span class=" text-danger"> *</span>
        </div>
    </a>
</li>


<!--Patient Health Status Tab Index-->
<li class="">
    <a data-toggle="tab" href="#tab-2">
        <div class="titleNav">
            <i style="float:left" class="label label-danger fa fa-window-close">
                <lable class="control-label" style="font-size: 13px;font-weight:bolder;"></lable>
            </i>
            Patient Health Status
            <span class=" text-danger"> *</span>
        </div>
    </a>
</li>


<!--Vital Signs & Physical Assessment Tab Index-->
<li class="">
    <a data-toggle="tab" href="#tab-3">
        <div class="titleNav">
            <i style="float:left" class="label label-warning fa fa-warning">
                <lable class="control-label" style="font-size: 13px;font-weight:bolder;"></lable>
            </i>
            Vital Signs & Physical Assessment
            <span class=" text-danger"> *</span>
        </div>
    </a>
</li>


<!--Dialysis Treatment Outcomes Tab Index-->
<li class="">
    <a data-toggle="tab" href="#tab-4">
        <div class="titleNav">
            <i style="float:left" class="label label-primary fa fa-check">
                <lable class="control-label" style="font-size: 13px;font-weight:bolder;"></lable>
            </i>
            Dialysis Treatment Outcomes
            <span class=" text-danger"> *</span>
        </div>
    </a>
</li>


<!--Para-Clinical Examinations Tab Index-->
<li class="">
    <a data-toggle="tab" href="#tab-5">
        <div class="titleNav">
            <i style="float:left" class="label label-primary fa fa-check">
                <lable class="control-label" style="font-size: 13px;font-weight:bolder;"></lable>
            </i>
            Para-Clinical Examinations
            <span class=" text-danger"> *</span>
        </div>
    </a>
</li>