<!--Dialysis Session Details Tab-->
<div id="tab-1" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_SessionDetails" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--Patient Health Status Tab-->
<div id="tab-2" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_HealthStatus" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--Vital Signs & Physical Assessment Tab-->
<div id="tab-3" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_VitalSigns" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--Dialysis Treatment Outcomes Tab-->
<div id="tab-4" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_TreatmentOutcomes" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--Para-Clinical Examinations Tab-->
<div id="tab-5" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_ParaClinicalExaminations" />
                </div>
            </div>
        </div>
    </div>
</div>