@using Reno.MVC.Services.Base;
@inject IClient _client;

@{
    ViewData["Title"] = "Patient List";
}


<div class="wrapper wrapper-content animated fadeInRight shadow">
    <div class="row wrapper  white-bg page-heading  mx-0 ">
        <div class="col-md-12">
            <h2 class="col-md-9">Patients</h2>
            <div class="col-md-3" style="float:right">
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="index" asp-controller="Home">Home</a>
                    </li>
                    <li class="active">
                        <strong>Patient List</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    @*<partial name="_DeleteModal" />*@

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins  p-10">
                @* <div class="ibox-title">
                <h5>Patients</h5>
                </div>*@
                <div class="ibox-content" style="padding: 15px 20px 0px 20px;">
                    <div class="row">

                        <form id="FilterPatients">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Filter Section</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content">

                                    <div class="row mb-15">
                                        <div class="col-md-6">
                                            <label class="control-label col-md-12">Patient Name</label>
                                            <div class="col-md-12">
                                                <input type="text" class="m-b form-control" placeholder="Enter Patient Name..." />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
											<label class="control-label col-md-12">Diabetes Types</label>
                                            <div class="col-md-12">
                                                <select multiple asp-items="ViewBag.DiabetesSelectList" 
                                                    placeholder="Select Diabetes Types..." data-search="false">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-15">
                                        <div class="col-md-6">
                                            <label class="control-label col-md-12">Hypertension Types</label>
                                            <div class="col-md-12">
                                                <select multiple asp-items="ViewBag.HypertensionSelectList"
                                                        placeholder="Select Hypertension Types..." data-search="false">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label col-md-12">Smoking Status</label>
                                            <div class="col-md-12">
                                                <select multiple asp-items="ViewBag.SmokingSelectList"
                                                        placeholder="Select Smoking Status..." data-search="false">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-15">
                                        <div class="col-lg-12">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-title">

                                                    <div class="col-md-12 text-end">
                                                        <button class=" btn btn-danger" type="reset" id="ResetFilter">Reset</button>
                                                        <button class=" btn btn-primary" id="SubmitFilter" type="button">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr style="margin: 0;" />
                                </div>
                            </div>
                        </form>
                        
                        <table id="PatientTable" class="table  table-striped  table-bordered table-hover display">
                            <thead>
                                <tr>

                                    <th>Patient Name</th>
                                    <th>Reports Same Unit</th>
                                    <th>Reports Overral</th>
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Diabetes</th>
                                    <th>Hypertension</th>
                                    <th>Smoking</th>

                                </tr>
                            </thead>
                        </table>

                        <div style="float:left; padding-left:20px;">
                            <span style="right:auto" class="label label-danger">Draft:</span>
                            <label class="control-label" style="font-size:13px;font-weight:normal;">Indicates the incompletion of the record, i.e. missing information and entries are still yet to be completed </label>
                            <br />
                            <span style="right:auto" class="label label-success">Ready To Review</span>
                            <label class="control-label" style="font-size:12px;font-weight:normal;">Indicates data entry and record completion and is ready to be reviewed by the “Monitor / QC”. Data here refers to the mandatory data / required</label>
                            <br />
                            <span style="right:auto" class="label label-warning">Pending</span>
                            <label class="control-label" style="font-size:12px;font-weight:normal;">Indicates that the comments / concerns raised by the “Monitor” on the record are pending / awaiting to be addressed / amended by the “PI / Doctor”</label>
                            <br />
                            <span style="right:auto" class="label label-primary">Reviewed:</span>
                            <label class="control-label" style="font-size:12px;font-weight:normal;">Indicates that the “Monitor” has reviewed the record and approved it.</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $(".deleteToggleButtons").click(function () {
            var patientId = $(this).data('id');
            $.ajax({
                type: "GET",
                url: "/Patients/Delete/" + patientId,
                success: function (response) {
                    $("#id").val(response.id);
                    $("#DeleteModal").modal('show');
                },
            })
        });
    });
</script>

@section Scripts {
	<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/js/Pages/PatientsIndex.js"></script>

    <script>
        VirtualSelect.init({
            ele: 'select',
            dropboxWrapper: 'self',
            optionsCount: 5,
            
            // Text to show near select all checkbox when search is disabled
            selectAllText: 'Select all',
            // Text to use when displaying no.of values selected text (i.e. 3 options selected)
            optionsSelectedText: 'options selected',
            // Text to use when displaying all values selected text (i.e. All (10))
            allOptionsSelectedText: 'All',


            // Show each selected values as tags with remove icon
            showValueAsTags: true,
            // Maximum no.of values to show in the tooltip for multi-select
            noOfDisplayValues: 3,


            // Custom width
            dropboxWidth: "100%",

            // Scroll selected option to viewport on dropbox open
            focusSelectedOptionOnOpen: true,
            
            // show dropbox as popup on small screen like mobile
            showDropboxAsPopup: true,
            // maximum screen width that allowed to show dropbox as popup
            popupDropboxBreakpoint: '576px',
            // left, center, or right
            popupPosition: 'center',


            // hide value tooltip if all options selected
            hideValueTooltipOnSelectAll: true,

            // Maximum width
            maxWidth: '100%'

        });
    </script>
}
