.scrollbar {
    padding-top: 5px;
}

.select2-container--disabled {
    width: 100% !important;
}

span > .select2, .select2-container, .select2-container--default {
    width: 100% !important;
}

textarea {
    resize: none;
}

tfoot {
    display: table-header-group;
}

td, th {
    text-align: center;
}

.dataTables_filter > label  {
 
 color:transparent;
}
    .dataTables_filter > label:focus {
        color: blue;
    }

div.dataTables_filter input {
    display: none !important;
}
/*div.dataTables_wrapper div.dataTables_info {
    display: none;
    text-align:right;
}*/
form input::-webkit-validation-bubble-message,
form select::-webkit-validation-bubble-message,
form textarea::-webkit-validation-bubble-message {
    display: none;
}
.hr-line-dashed{
    margin:10px 0 !important;
}
.wrapper-content {
    padding: 8px 0px 20px !important;
}
.m-b {
    margin-bottom: 10px !important;
}
.breadcrumb {
    padding: 9% 0% 0% 10% !important;
}
.radio, .checkbox {
    margin-top: 0px !important;
}
body {
    font-size: 1.6em;
    font-weight: bold;
}

.titleNav {
    font-size: 1.1em;
}

.dataTables_scroll th {
    min-width: 200px;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner {
    border-bottom: 2px solid #777777;
}

.table.dataTable {
    border-collapse: collapse !important;
    margin: auto !important;
}

.dataTables_scroll {
    margin-bottom: 10px;
}

.sorting_asc, .sorting_desc {
    background-color: #F5F5F6 !important;
}


.vscomp-wrapper.focused .vscomp-toggle-button, .vscomp-wrapper:focus .vscomp-toggle-button {
    box-shadow: none !important;
}

.vscomp-wrapper.focused .vscomp-toggle-button {
    border-color: #1ab394;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.vscomp-wrapper {
    color: inherit !important;
    font-family: inherit !important;
}

    .vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon::after, 
    .vscomp-wrapper .checkbox-icon.checked::after {
        border-color: #1ab394;
        border-left-color: rgba(0, 0, 0, 0);
        border-top-color: rgba(0, 0, 0, 0);
    }