.scrollbar {
    padding-top: 5px;
}

.select2-container--disabled {
    width: 100% !important;
}

span > .select2, .select2-container, .select2-container--default {
    width: 100% !important;
}

textarea {
    resize: none;
}

tfoot {
    display: table-header-group;
}

td, th {
    text-align: center;
}

.dataTables_filter > label  {
 
 color:transparent;
}
    .dataTables_filter > label:focus {
        color: blue;
    }

div.dataTables_filter input {
    display: none !important;
}
/*div.dataTables_wrapper div.dataTables_info {
    display: none;
    text-align:right;
}*/
form input::-webkit-validation-bubble-message,
form select::-webkit-validation-bubble-message,
form textarea::-webkit-validation-bubble-message {
    display: none;
}
.hr-line-dashed{
    margin:10px 0 !important;
}
.wrapper-content {
    padding: 8px 0px 20px !important;
}
.m-b {
    margin-bottom: 10px !important;
}
.breadcrumb {
    padding: 9% 0% 0% 10% !important;
}
.radio, .checkbox {
    margin-top: 0px !important;
}
body {
    font-size: 1.6em;
    font-weight: bold;
}

.titleNav {
    font-size: 1.1em;
}


.dataTables_scrollHeadInner {
    width: 100% !important;
}

.table.dataTable {
    border-collapse: collapse !important;
    margin: auto !important;
    width: -webkit-fill-available !important;
}

.dataTables_scroll {
    margin-bottom: 10px;
}