@using Reno.MVC.Services.Base.Contracts;
@inject ILocalStorageService _localStorageService;

@{
    string access_token = _localStorageService.GetCurrentToken();
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RenoCare | @ViewBag.Title</title>

	
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/lib/virtual-select/css/virtual-select.min.css" rel="stylesheet" />
	<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />

    @*<link href="~/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />*@
    @*<!--Add Style for Checkbox and radio (ICheck plugin) -->
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <!--Add Style Foe Date  (DatePicker plugin)-->
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/css/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/css/plugins/steps/jquery.steps.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    
    <style>
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/lib/jquery/dist/jquery.js"></script>
    

</head>
@*mini-navbar removed from class pace-done for collapse*@
<body class="pace-done">
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Navigation -->
        <partial name="_Navigation" />
        <!-- Page wraper -->
        <div id="page-wrapper" class="white-bg">
            <!-- Top Navbar -->
            <partial name="_TopNavbar" />
            <div class="loadingModal" ng-click="CloseLoading"></div>
            <form id="LoadingForm">
                <div class="loadingPopup">
                    <div style="color:white;background-color:dimgray;" id="waittext">Processing, please wait</div>
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
            </form>
            <!-- Main view  -->
            @RenderBody()


            <partial name="_AddHealthcarePartial" />
            <br />
            <!-- Footer -->
            <partial name="_Footer" />
        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    
    <script>
        window.paceOptions = { ajax: { ignoreURLs: ['mainHub', '__browserLink', 'browserLinkSignalR'], trackWebSockets: false } }

        document.addEventListener('DOMContentLoaded', function () {

            // Ensure Pace is restarted for each AJAX request
            $(document).ajaxStart(function () {
                Pace.restart();
                $(".loadingModal").show();
                $(".loadingPopup").show();
            });

            $(document).ajaxStop(function () {
                $(".loadingModal").hide();
                $(".loadingPopup").hide();
            });
        });
    </script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>*@

    <script src="~/js/plugins/metisMenu/metisMenu.min.js"></script>
	<script src="~/js/plugins/pace/pace.min.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/app/inspinia.js"></script>

	<script src="~/lib/virtual-select/js/virtual-select.min.js"></script>

	<script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

    @*<script src="~/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>*@
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/js/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/js/plugins/steps/jquery.steps.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>
    <script src="~/js/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    
    <script>
        function clearFormElements(class_name) {
            $("." + class_name).find(':input').each(function () {
                switch (this.type) {
                    case 'password':
                    case 'text':
                    case 'textarea':
                    case 'file':
                    case 'select-one':
                        $(this).val('').trigger('change');
                        break;
                    case 'select-multiple':
                        $(this).val('').trigger('change');
                        break;
                    case 'date':
                    case 'number':
                    case 'tel':
                    case 'email':
                        $(this).val('');
                        break;
                    case 'checkbox':
                        this.checked = false;
                        $(this).removeAttr('checked').iCheck('update');
                        var classes = $(this).parent().closest('div');
                        $(classes).removeClass('checked ');
                        break;
                    case 'radio':
                        this.checked = false;
                        $(this).iCheck('uncheck').iCheck('update');
                        break;
                }
            });
        }
        function clearFormElements2(jquery_object) {
            $(jquery_object).find(':input').each(function () {
                switch (this.type) {
                    case 'password':
                    case 'text':
                    case 'textarea':
                    case 'file':
                    case 'select-one':
                        $(this).val('').trigger('change');
                        break;
                    case 'select-multiple':
                        $(this).val('').trigger('change');
                        break;
                    case 'date':
                    case 'number':
                    case 'tel':
                    case 'email':
                        $(this).val('');
                        break;
                    case 'checkbox':
                        this.checked = false;
                        $(this).removeAttr('checked').iCheck('update');
                        var classes = $(this).parent().closest('div');
                        $(classes).removeClass('checked ');
                        break;
                    case 'radio':
                        this.checked = false;
                        $(this).iCheck('uncheck').iCheck('update');
                        break;
                }
            });
        }
    </script>*@

    <script>
        $('document').ready(() => {
            VirtualSelect.init({
                ele: '.multiple-select',
                dropboxWrapper: 'self',
                optionsCount: 5,

                // Text to show near select all checkbox when search is disabled
                selectAllText: 'Select all',
                // Text to use when displaying no.of values selected text (i.e. 3 options selected)
                optionsSelectedText: 'options selected',
                // Text to use when displaying all values selected text (i.e. All (10))
                allOptionsSelectedText: 'All',


                // Show each selected values as tags with remove icon
                showValueAsTags: true,
                // Maximum no.of values to show in the tooltip for multi-select
                noOfDisplayValues: 3,

                alwaysShowSelectedOptionsLabel: false,
                // Custom width
                dropboxWidth: "100%",

                // Scroll selected option to viewport on dropbox open
                focusSelectedOptionOnOpen: true,

                // show dropbox as popup on small screen like mobile
                showDropboxAsPopup: true,
                // maximum screen width that allowed to show dropbox as popup
                popupDropboxBreakpoint: '576px',
                // left, center, or right
                popupPosition: 'center',


                // hide value tooltip if all options selected
                hideValueTooltipOnSelectAll: true,

                // Maximum width
                maxWidth: '100%'

            });


            // SignalR connection setup
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://renocareapi.azurewebsites.net/chat", {
                    accessTokenFactory: () => '@access_token'
                })
                .build();

            connection.start().catch(err => console.error(err));

        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>