@using System.Security.Claims;

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">

            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span class="text-center block">
                        <img class="img-circle" id="UserImage" src="~/imgs/noImg.png" alt="User Image" style="width:125px;height:125px;" />
                        
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-center block">Welcome!</strong>
                            </span> <span class="text-muted text-xs block text-center"><label style="font-size:1.5rem;" >@User.Identity.Name</label><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        @if (User.IsInRole("HealthCare") && int.TryParse(User.Claims.FirstOrDefault(c => c.Type == "uid")?.Value, out int id))
                        {
                            <li>
                                <a asp-action="GetDialysisUnitDetails" asp-controller="DialysisUnit" asp-route-id="@id">Profile</a>
                            </li>
                            <li class="divider"></li>
                        }
                        
                        <li>
                            <a asp-controller="User" asp-action="Logout" asp-route-returnUrl="/">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    Reno<br />Care

                </div>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Home"><i class="fa fa-2x  fa-dashboard"></i> <span class="nav-label">Dashboard </span> </a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Patients"><i class="fa fa-2x  fa-address-card-o"></i> <span class="nav-label" >Patients</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a asp-action="Index" asp-controller="Patients">Patients</a></li>
                    <li><a asp-action="DeletedPatients" asp-controller="Patients">Deleted Patients</a></li>
                    @*
                    <li><a href="#" data-toggle="modal" data-target="#NewPatient">New Patient</a></li>
                    <li><a asp-action="Index" asp-controller="MsMedicationRequest">Patients Medication Requests</a></li>
                    <li><a asp-action="GetUnVotedRequests" asp-controller="MsMedicationRequest">Pending/Current Medication Requests</a></li>
                    <li><a asp-action="Index" asp-controller="TransferRequest">Patients Transfer Requests</a></li>*@
                </ul>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-action="GetDialysisUnits" asp-controller="DialysisUnit"><i class="fa fa-2x  fa-hospital-o"></i> <span class="nav-label">Dialysis Units</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a asp-action="GetDialysisUnits" asp-controller="DialysisUnit">Dialysis Units</a></li>
                        <li><a id="add-healthcare" >Add Healthcare Provider</a></li>
                    </ul>
                </li>
                /*
                <li>
                    <a asp-action="Index" asp-controller="Users"><i class="fa  fa-2x  fa-users"></i> <span class="nav-label">Users</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a asp-action="Index" asp-controller="Users">All Users</a></li>
                    </ul>
                </li>*/
            }
            
            <li>
                <a asp-action="Index" asp-controller="MedicationRequests">
                    <i class="fa  fa-2x  fa-medkit"></i>
                    <span class="nav-label">Hemodialysis Bookings</span>
                    <span class="fa arrow"></span>
                </a>
            </li>

            <li>
                <a asp-action="GetReportsList" asp-controller="Reports"><i class="fa  fa-2x  fa-file-text"></i> <span class="nav-label">Reports</span> <span class="fa arrow"></span></a>
                
            </li>

            @if (User.IsInRole("HealthCare"))
            {
                <li>
                    <a asp-action="Index" asp-controller="Chat">
                        <i class="fa  fa-2x  fa-wechat"></i>
                        <span class="nav-label">Chat</span>
                        <span class="fa arrow"></span>
                    </a>
                </li>
            }

        </ul>
    </div>
</nav>

<script>
    $('document').ready(() => {
        $('#add-healthcare').on('click', () => {
            console.log("ghvhgvhgvg");
            $("#modal-form").modal('show');
        });
    });
</script>