<!--Healthcare Provider Info Tab-->
<div id="tab-1" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_HealthCareProviderInfo" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--Unit Specifications Tab-->
<div id="tab-2" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_UnitSpecifications" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--SAvailable Sessions Tab-->
<div id="tab-3" class="tab-pane">
    <div class="panel-body">
        <div class="col-md-12 col-xs-12" style="padding:0">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="border:0px !important;padding:0">
                    <partial name="_AvailableSessions" />
                </div>
            </div>
        </div>
    </div>
</div>
